@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  position: relative;
  overflow: hidden;
  color: #04f71b;
  text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #047a10bd, 0 0 4px #047a10bd,
    0 0 5px #047a10bd, 0 0 6px #047a10bd, 0 0 7px #047a10bd;
  font-family: "Share Tech Mono", monospace;
}
body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.main {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  color: #04f71b;
  border: none;
  background-color: transparent;
  font-size: 18px;
  width: 100px;
  margin: auto;
  outline: none;
  letter-spacing: 4px;
}
label {
  font-size: 18px;
}
span {
  font-size: 18px;
  margin: auto 10px;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.textContainer {
  align-self: flex-start;
  margin: 0 0 20px;
  font-size: 18px;
}

.playerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

ReactPlayer {
  aspect-ratio: 16 / 9;
}

.error {
  color: red;
  border: 1px solid red;
  padding: 20px;
  font-size: 18px;
  text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #ff000067, 0 0 4px #ff000067,
    0 0 5px #ff000067, 0 0 6px #ff000067, 0 0 7px #ff000067;
  box-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #ff000067, 0 0 4px #ff000067,
    0 0 5px #ff000067, 0 0 6px #ff000067, 0 0 7px #ff000067;
}

.success {
  color: #04f71b;
  border: 1px solid #04f71b;
  padding: 20px;
  font-size: 18px;
  box-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px rgba(4, 122, 16, 0.74),
    0 0 4px rgba(4, 122, 16, 0.74), 0 0 5px rgba(4, 122, 16, 0.74),
    0 0 6px rgba(4, 122, 16, 0.74), 0 0 7px rgba(4, 122, 16, 0.74);
}

